**/*.dat
**/*.db
**/.uuid
**/*.log
**/*.pid
**/.last*
**/*playlist**
**/api.json
**/resurrect/*
**/lyrics/*
**/sessions/*
**/__pycache__/*
**/.cache/*
**/**.state
**/.selection
**/*-status
**/*.tar.*
**/*.zip
**/*.rar
**/*.so
home/.user.keys

home/.config/rofi/rofi-spotlight/history.txt