**/*.dat
**/*.db
**/.uuid
**/*.log
**/*.pid
**/.last*
**/*playlist**
**/api.json
**/resurrect/*
**/lyrics/*
**/sessions/*
**/__pycache__/*
**/.cache/*
**/**.state
**/.selection
**/*-status
**/*.tar.*
**/*.zip
**/*.rar
**/*.so
**/history.*
**/state.*
**/*__
**/watch_later/*

result
home/.user.keys
home/.config/hosts/.mode
home/.config/ncmpcpp/patterns.list
home/.config/gtk-3.0/settings.ini
