**/*.dat
**/*.db
**/.uuid
**/*.log
**/*.pid
**/.last*
**/*playlist**
**/api.json
**/resurrect/*
**/__pycache__/*
**/.cache/*
home/.config/mpd/mpd.state

home/.config/awesome/utils/florence-status
home/.config/nnn/.selection