[submodule "home/.startpage/jaredk3nt"]
	path = home/.startpage/jaredk3nt
	url = https://github.com/Jaredk3nt/homepage

[submodule "home/.startpage/atalazer"]
	path = home/.startpage/atalazer
	url = https://github.com/atalazer/atalazer-startpage

