!! Apps
#include "/home/atalariq/.Xresources.d/urxvt"
#include "/home/atalariq/.Xresources.d/xterm"

!! Colorscheme

#include "/home/atalariq/.Xresources.d/color/wal"

!! Settings
#include "/home/atalariq/.Xresources.d/cursor"
#include "/home/atalariq/.Xresources.d/font"

