#!/usr/bin/env sh
# vim: ft=sh

# -------------------------------------
# Basic
# -------------------------------------
alias c="clear"
alias r="exec zsh"
alias {:q,q}="exit"

# -------------------------------------
# Make dir and remove dir quickly
# -------------------------------------
alias md='mkdir -p'
alias rd=rmdir

# -------------------------------------
# Use exa instead of ls
# -------------------------------------
if command -v exa > /dev/null 2>&1; then
    alias ls="exa --icons --group-directories-first"
    alias lsa="exa --icons --group-directories-first -a"
    alias ll="exa --icons --group-directories-first -lgh"
    alias lla="exa --icons --group-directories-first -algh"
    alias tree="exa --icons --group-directories-first --tree"
fi
# -------------------------------------
# User Trash Instead of rm
# -------------------------------------
if command -v trash > /dev/null 2>&1; then
    alias rm="trash"
    alias tr="trash"
    alias tl="trash-list"
    alias trs="trash-restore"
fi

# -------------------------------------
# Neovim Alias
# -------------------------------------
alias {e,vim,vi}="$EDITOR"

# -------------------------------------
# NNN File Manager
# -------------------------------------
alias fm=nnn
alias {fmcd,fmq}=qnnn
alias fmp=pnnn
alias gfm=nemo

# -------------------------------------
# Archlinux Stuff
# -------------------------------------
alias pacin="$PERMISSION pacman -S"
alias pacsearch="$PERMISSION pacman -Ss"
alias pacupd="$PERMISSION pacman -Syy"
alias pacupg="$PERMISSION pacman -Syu"
alias pacrem="$PERMISSION pacman -Rns"
alias pacrmorp="$PERMISSION pacman -Qtdq | pacman -Rns -"

