! vim: ft=xdefaults:

! ==============================================================================
! Appearances
! ==============================================================================

! Xcursor theme
! -------------
Xcursor.theme:McMojave-Cursors
Xcursor.size:24

! Fonts Settings
! --------------
Xft.antialias: 1
Xft.rgba:      rgb
Xft.lcdfilter: lcddefault
Xft.hinting:   1
Xft.autohint:  1
Xft.hintstyle: hintfull
Xft.dpi:       96

! Colors
! --------------
#include "/home/atalariq/.cache/wal/colors.Xresources"

