#!/usr/bin/env sh
# vim: ft=sh
PERMISSION="sudo"       # sudo doas or any

# -------------------------------------
# Basic
# -------------------------------------
alias c="clear"
alias r="exec zsh"
alias {:q,q}="exit"

# -------------------------------------
# Make dir and remove dir quickly
# -------------------------------------
alias md='mkdir -p'
alias rd=rmdir

# -------------------------------------
# Use exa instead of ls
# -------------------------------------
if command -v exa > /dev/null 2>&1; then
    alias ls="exa --icons --group-directories-first"
    alias lsa="exa --icons --group-directories-first -a"
    alias ll="exa --icons --group-directories-first -lgh"
    alias lla="exa --icons --group-directories-first -algh"
    alias tree="exa --icons --group-directories-first --tree"
fi
# -------------------------------------
# User Trash Instead of rm
# -------------------------------------
if command -v trash > /dev/null 2>&1; then
    alias rm="trash"
    alias tr="trash"
    alias tl="trash-list"
    alias trs="trash-restore"
fi

# -------------------------------------
# Neovim Alias
# -------------------------------------
alias {e,vim,vi}="$EDITOR"
alias {envim,evim,ev}="$EDITOR ~/.config/nvim/init.lua"
alias {zshrc,ez}="$EDITOR ~/.zshrc"
alias {xrc,ex}="$EDITOR ~/.Xresources"
alias {awc,ea}="$EDITOR ~/.config/awesome/rc.lua"

# -------------------------------------
# Xresources Alias
# -------------------------------------
alias xload="xrdb -load ~/.Xresources"
alias xmerge="xrdb -merge ~/.Xresources"

# -------------------------------------
# NNN File Manager
# -------------------------------------
alias fm=nnn
alias {fmcd,fmq}=qnnn
alias fmp=pnnn
alias gfm=nemo

# -------------------------------------
# FZF alias
# -------------------------------------
alias fzfp="fzf --reverse --preview 'bat --style=numbers --color=always {}'"
fe() { $EDITOR $(fzf) }
fep() { $EDITOR $(fzf --reverse --preview 'bat --style=numbers --color=always {}') }

# -------------------------------------
# SKIM alias
# -------------------------------------
alias skp="sk --reverse --preview 'bat --style=numbers --color=always {}'"
se() { $EDITOR $(sk) }
sep() { $EDITOR $(sk --reverse --preview 'bat --style=numbers --color=always {}') }

# -------------------------------------
# Git Alias
# -------------------------------------
alias ga="git add"
alias gcl="git clone"
alias gcm="git commit"
alias gcmsg="git commit -m"
alias glg="git log"
alias gp="git push"
alias gl="git pull"
alias gs="git status"

alias {lzg,lz}="lazygit"

# -------------------------------------
# Programming Lang
# -------------------------------------
alias py="python"

# -------------------------------------
# Archlinux Stuff
# -------------------------------------
alias pacin="$PERMISSION pacman -S"
alias pacsearch="$PERMISSION pacman -Ss"
alias pacupd="$PERMISSION pacman -Syy"
alias pacupg="$PERMISSION pacman -Syu"
alias pacrem="$PERMISSION pacman -Rcns"
alias pacrmorp="$PERMISSION pacman -Qtdq | pacman -Rns -"

alias pain="paru -S"
alias pasearch="paru -Ss"
alias paupd="paru -Syy"
alias paupg="paru -Syu"
alias parem="paru -Rcns"
alias parmorp="paru -Qtdq | pacman -Rns -"

# -------------------------------------
# Kitty Terminal
# -------------------------------------
alias icat="kitty +kitten icat"

# -------------------------------------
# Games
# -------------------------------------
alias tetris="autoload -Uz tetriscurses; tetriscurses"

# -------------------------------------
# cpupower
# -------------------------------------
alias performance="$PERMISSION cpupower frequency-set -g performance"
alias ondemand="$PERMISSION cpupower frequency-set -g ondemand"
alias cpuinfo="watch -n1 \"cat /proc/cpuinfo | grep 'MHz'\""

# -------------------------------------
# Alias for dotbare
# -------------------------------------
alias da="dotbare fadd"
alias de="dotbare fedit"
alias dl="dotbare flog"

# -------------------------------------
# Zola SSG
# -------------------------------------
alias zserve="zola serve"
alias zcheck="zola check"
alias zbuild="zola build"

