#!/usr/bin/env sh
# vim: ft=sh

alias c="clear"
alias r="exec zsh"
alias {:q,q}="exit"
alias so="source"

# ALias for dotbare
alias dtb=dotbare
alias dtba=dotbare fadd
alias dtbe=dotbare fedit
alias dtbl=dotbare flog

# Programming Lang
alias py="python"

# Use exa instead of ls
alias ls="exa --icons --group-directories-first"
alias lsa="exa --icons --group-directories-first -a"
alias ll="exa --icons --group-directories-first -lgh"
alias lla="exa --icons --group-directories-first -algh"

# User Trash Instead of rm 
# alias rm='echo "Use tr please"'
alias rm="trash"
alias tr="trash"
alias tl="trash-list"
alias trs="trash-restore"

# FZF alias
alias fzfp="fzf --reverse --preview 'bat --style=numbers --color=always {}'"

# Neovim Alias
alias {e,vim,vi}="nvim"
alias {envim,evim,ev}="nvim ~/.config/nvim/init.lua"

# File Manager
alias fm=nnn
alias fmq=qnnn
alias fmp=pnnn
alias gfm=nemo

# Kitty Terminal
alias icat="kitty +kitten icat"

# Games
alias tetris="autoload -Uz tetriscurses; tetriscurses"

# cpupower
alias performance="sudo cpupower frequency-set -g performance"
alias ondemand="sudo cpupower frequency-set -g ondemand"
alias cpuinfo="watch -n1 \"cat /proc/cpuinfo | grep 'MHz'\""


